:root {
    --criticality-overdue-high: #330000;
    --criticality-overdue: red;
    --criticality-overdue-soon: #f69;
    --criticality-due: orange;
    --criticality-unblocked: #ff6;
    --criticality-blocked-required: #999;
    --criticality-blocked-non-required: #ccc;
    --criticality-resolved: #3c3;
}

.info-widget {
    color: white;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    font-weight: bolder;
    margin: 2px;
    background-color: cornflowerblue;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 0.8rem;
    cursor: default;
}
